html{ 
    overflow-x:hidden;
    box-sizing:border-box; 
    font-size: calc(15px + 0.390625vw);
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body{
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    background: #ffffff;
}