.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Grid System */

.container:after, 
.container:before, 
.row:after, 
.row:before {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 0 -8px;
}

.col {
    float: left;
    width: 100%;
    padding: 0 8px;
}

/* Small (Phones) Size Columns */
.col.s1 {width: 8.33333%;}
.col.s2 {width: 16.66666%;}
.col.s3 {width: 24.99999%;}
.col.s4 {width: 33.33333%;}
.col.s5 {width: 41.66666%;}
.col.s6 {width: 49.99999%;}
.col.s7 {width: 58.33333%;}
.col.s8 {width: 66.66666%;}
.col.s9 {width: 74.99999%;}
.col.s10 {width: 83.33333%;}
.col.s11 {width: 91.66666%;}
.col.s12 {width: 99.99999%;}

/* Medium (Tablet) Size Columns */
@media (min-width: 601px) {
    .col.m1 {width: 8.33333%;}
    .col.m2 {width: 16.66666%;}
    .col.m3 {width: 24.99999%;}
    .col.m4 {width: 33.33333%;}
    .col.m5 {width: 41.66666%;}
    .col.m6 {width: 49.99999%;}
    .col.m7 {width: 58.33333%;}
    .col.m8 {width: 66.66666%;}
    .col.m9 {width: 74.99999%;}
    .col.m10 {width: 83.33333%;}
    .col.m11 {width: 91.66666%;}
    .col.m12 {width: 99.99999%;}
}

/* Large Size Columns */
@media (min-width: 993px) {
    .col.l1 {width: 8.33333%;}
    .col.l2 {width: 16.66666%;}
    .col.l3 {width: 24.99999%;}
    .col.l4 {width: 33.33333%;}
    .col.l5 {width: 41.66666%;}
    .col.l6 {width: 49.99999%;}
    .col.l7 {width: 58.33333%;}
    .col.l8 {width: 66.66666%;}
    .col.l9 {width: 74.99999%;}
    .col.l10 {width: 83.33333%;}
    .col.l11 {width: 91.66666%;}
    .col.l12 {width: 99.99999%;}
}

@media (max-width: 600px) {
    .hide_small {
      display: none !important;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .hide_medium {
        display: none !important;
    }
}

@media (min-width: 993px) {
    .hide_large {
        display: none !important;
    }
}

.header {
    /* border: 1px solid red; */
    /* color: #ffffff; */

}

.navs  * {
    /* border: 1px solid red; */
}

.navs {
    /* border: 1px solid red; */
    /* display: inline-block; */
    padding: .6rem 0;
    border-top: 3px solid #4c4c4c;
    background: #ffffff;
}

.nav_wrapper {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.nav_links {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_links a {
     /* border: 1px solid red; */
     display: inline-block;
     text-align: center;
     font-size: .8rem;
     color: #000000;
     text-decoration: none;
}

.nav_button {
    /* border: 1px solid red; */
    text-align: right;
}

.nav_button button {
    padding: .5rem .7rem;
    border: none;
    border-radius: 2px;
    background: #4c4c4c;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.nav_button button:hover {
    background: #d3d3d3;
    color: #4c4c4c;
}


.banner {
    padding: 2.5rem 0;
    /* text-align: center; */
    text-transform: uppercase;
    color: #000000;
    background: #f1f1f1;
}

.banner div h1 {
    /* border: 1px solid red; */
    display: none;
}

.banner div p {
    /* border: 1px solid red; */
    font-size: 1.7rem;
}

.search_field {
    /* border: 1px solid red; */
    margin-top: -19px;
}

.search_field div {
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 700px;
    padding: .2rem;
    /* padding-top: .3rem;
    padding-bottom: .3rem; */
    border-radius: 2px;
    border: 1px solid #000000;
    background: #ffffff;
}

.search_field input {
    padding: .6rem 0;
    margin: 0 8px;
    border: none;
    outline: none;
}

.search_field button {
    padding: .7rem 0;
    border: none;
    outline: none;
    background: #4c4c4c;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.features {
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.features_row {
    /* border: 1px solid red;  */
    /* margin-top: 2rem; */
}

.features_row div {
    /* border: 1px solid red;  */
    padding-right: 1.5rem;
    margin-top: 1.5rem;
}

.features_row div h3 {
    /* border: 1px solid red;  */
    padding-bottom: 5px;
}

/* .features_row div p {
    border: 1px solid red; 
    width: 200ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.cta_section {
    /* border: 1px solid red; */
    /* padding: 1.5rem; */
    background: #f1f1f1;
}

.cta_section div {
    /* border: 1px solid red; */
    display: flex;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.cta_section p, .cta_section button {
    /* border: 1px solid red; */
}

.cta_section p:first-child {
    width: 90%;
    font-size: 1.3rem;
}

.cta_section p:last-child {
    width: 30%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.cta_section p:last-child button {
    width: 100%;
    padding: .5rem .7rem;
    border: none;
    border-radius: 2px;
    background: #4c4c4c;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 600px) {
    .cta_section div { flex-wrap: wrap; }
    .cta_section p:last-child {
        width: 100%;
    }
}






/* .intro {
    padding: 2rem;
}

.intro_row {
    padding: 1rem;
}

.sub_section {
    padding: 2rem 0;
    color: #3a3a3a;
    background: #D9D9D9;
} 

.sub_section .row button{
    border: 1px solid red;
    padding: .5rem 0;
}

.footer {
    padding: 3rem 0;
    background: #353535;
} */

/* .header_col_i, .header_col_ii {
    border: 1px solid red;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    padding: 0;
    padding: .4rem 0;
   
} */

/* .header_col_i {
    border: 1px solid red;
    align-items: baseline;
} */

/* .header_col_i h1 {
    border: 1px solid red;
    color: #595959;
    font-size: 1rem;
    text-shadow: 15px 4px 20px 0px rgba(0, 0, 0, 0.44);
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 61px; 129.787%
    letter-spacing: -0.705px;
    text-transform: uppercase;
} */

/* .header h1 {
    font-size: 2rem;
} */

/* .title {

} */

/* .navs {
    border: 1px solid red;
    color: #4c4c4c;
} */

/* .navs > a {
    margin-left: 1.7rem;
} */

/* .header_col_ii {
    padding-bottom: 2rem;
    border: 1px solid red;
    justify-content: flex-end;
} */

/* .searchField {
    text-align: right;
    display: flex;
    align-items: center; 
    padding: .5rem;
    border-radius: 5px;
    background-color: #ffffff;
} */

/* .searchField > i {
    padding: 0 1rem;
    border-right: 1px solid #E5E5E5;
} */

/* .searchField > input {
    width: 35rem;
    padding: .7rem;
    border: none;
    outline: none;
} */