@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* CUSTOM STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #222222;
  /* background: linear-gradient(130deg, #18a73312 0%, rgba(217, 217, 217, 0.00) 100%); */
  background-color: #FEFEFE;
}

button {
    border: none;
    background-color: #555555;
    /* cursor: pointer; */
    font-family: inherit;
}

button, a {
    cursor: pointer;
}

.container {
    /* border: 1px solid; */
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  }

/* HEADER */
.header {
    /* border: 1px solid; */
    position: relative;
    width: 100%;
    height: 504px;
  }

.radial__background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(5 74 39 / 66%), #000000);
}

.header__image {
    z-index: 0;
}

/* NAV */
.nav {
    /* border: 1px solid; */
    width: 100%;
    z-index: 2;
    position: absolute;
    padding: .6em 0;
}
  
.nav > div {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  }
 
.nav__content {
    width: 100%;
    max-width: 512px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.nav__link {
    text-decoration: none;
    color: #d3d3d3c2;;
    font-weight: 100;
    font-size: .6rem;
    text-transform: uppercase;
    margin-left: 20px;
    padding-bottom: .2em;
    cursor: pointer;
    transition: .1s ease;
}
  
.nav__link:hover {
    color: #FEFEFE;
    border-bottom: 2px solid #FEFEFE;
    /* color: #0C8639; */
    /* border-bottom: 2px solid #0C8639; */
}

/* HEADER CONTENT */
.header__content {
    /* border: 1px solid; */
    width: 100%;
    z-index: 2;
    position: absolute;
    margin-top: 4em;
}

.header__content h1 {
    color: #FEFEFE;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
    border-left: 2px solid #FEFEFE;
    padding: 1rem;
    width: 100%;
    max-width: 24ch;
  }
  
.header__content p {
    width: 100%;
    max-width: 55ch;
    margin-top: 2.4rem;
    font-size: 1rem;
    font-weight: 100;
    color: #a3bba6;
}

.header__search {
    /* border: 1px solid #fff; */
    font-weight: 100;
    margin-top: 39px;
}

.header__search form {
    /* border: 1px solid #fff; */
    width: 100%;
    max-width: 512px;
    display: flex;
    align-items: stretch;
    gap: 2px;
    padding: .2em;
    border-radius: 2px;
    background-color: #FEFEFE;
}

.header__search input::placeholder {
    font-size: .7rem;
    color: #7c7c7c;
}

.header__search input {
    flex: 80%;
    padding: 0 .2em;
    border: none;
    outline: none;
    background-color: inherit;
}

.header__search input, 
.header__search button {
    border-radius: 2px;
    padding: 0.2em;
}

.header__search button {
    flex: 20%;
    font-size: .7rem;
    font-weight: 500;
    color: #FEFEFE;
    background-color: #062b0db2;
    /* background-color: #0C8639; */
    transition: .1s ease;
}

.header__search button:hover {
    background-color: #062b0dee;
}

.header__search button:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #062b0d3d;
}

/* FEATURES HEADER */
.features_header {
    /* border: 1px solid; */
    margin-top: 2.5em;
}
  
.features_header__content {
    width: 100%;
    max-width: 32ch;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
}

/* FEATURES */
.features { 
    margin-top: 2.5em;
}

.features > div {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.feature h4 {
    /* color: #444; */
    font-weight: 400;
}

.feature hr {
    /* color: #062b0d; */
    /* border: 2px solid #148b2a; */
    /* border: 2px solid #fa9f1f; */
    /* border: 2px solid #FFB957; */
    /* border: 2px solid #062b0db2; */

    border: 2px solid #0C8639;
    /* border-color: linear-gradient(45deg, #a3bba6, #062b0d85); */
    width: 40px;
}

.feature p {
    /* margin-top: 20px; */
    margin-top: 16px;
    color: #555555;
    font-weight: 300;
}

.feature p .more {
    display: inline-block;
    position: relative;
    font-size: .9rem;
    /* color: #5f9ea0; */
    /* border-bottom: 4px solid #d8f1f1;
    margin-top: -5px; */
    cursor: pointer;
}

.feature p .more::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    height: .2rem;
    width: 100%;
    background-color: #d3eeee;
    z-index: -1;

    /* border-bottom: 4px solid #d8f1f1; */
    /* margin-top: -5px; */
}

/* .feature p a:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #b4dbff;
} */

/* CTA */
.cta {
    margin-top: 2.5em;
    /* padding: 5em 0; */
    padding: 2.5em 0;
}
  
.cta__content {
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
    align-items: center;
}
  
.cta__paragraph {
    /* border: 1px solid; */
    width: 100%;
    max-width: 40ch;
    flex: 70%;
    font-size: 1.5rem;
    font-weight: 400;
    color: #222222;
}
  
.cta__button {
    /* border: 1px solid; */
    flex: 30%;
    text-align: center;
    display: flex;
    align-items: stretch;
}

.cta__button button {
    /* flex: 20%; */
    width: 70%;
    font-size: .7rem;
    padding: 0.7em;
    font-weight: 500;
    border-radius: 2px;
    color: #FEFEFE;
    /* background: linear-gradient(45deg, #062b0d, #062b0d85); */
    /* background: #062b0db2; */
    background-color: #0C8639;
    transition: .1s ease;
}
  
.cta__button button:hover {
    background-color: #062b0dee;
}

.cta__button button:focus {
    outline-style: solid;
    outline-width: 4px;
    /* outline-color: #a2cea2; */
    outline-color: #062b0d3d;
}

/* FEATURE MODAL */
.feature_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    background-color: #FEFEFE;
    /* padding: 1.875em; */
    border-radius: 3px;
    width: 90%;
    max-width: 1024px;
}

.modal_content_header > div, 
.modal_content p {
    /* width: 90%; */
    /* max-width: 1024px; */
    /* padding: 1em 1.875em; */
    padding: 0 1.875em;
}

.modal_content_header > div {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* padding-top: 1em;
    padding-bottom: 1em; */
    /* background-color: #f7f7f7; */
}

/* .modal_content_header span {
    display: block;
    width: 100%;
    border: 1px solid;
    float: right;
} */

.modal_content h4 {
    padding-top: 2em;
    color: #222222;
    font-size: 1.19993rem;
}

.modal_content p {
    color: #555555;
    margin-top: 20px;
    margin-top: 2em;
    padding-bottom: 2em;
}

.close {
    color: #555555;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    /* float: right; */
    font-size: 28px;
    /* border: 1px solid; */
    /* border-radius: 20%; */
    /* width: 16px;
    height: 16px; */
    width: 100%;
    height: 30px;
    /* padding: .7em; */
    /* background-color: #f1f1f1; */
    /* text-align: center; */
    /* padding: 10px; */
    /* font-weight: bold; */
    cursor: pointer;
}

.close:hover {
    color: #222222;
    text-decoration: none;
}


@media (max-width: 768px) {
    /* HEADER */
    .header {
        /* height: 459px; */
        height: 477px;
    }

      /* FEATURES */
    .features > div {
        grid-template-columns: 1fr;
    }

    /* CTA */
    .cta__content {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .cta__paragraph,
    .cta__button {
        width: 100%;
    }

    .cta__button {
        width: 50%;
        margin-top: 10px;
    }
}

/* #171717 */
/* #666666 */